<p id="notice"><%= notice %></p>

<h1>Wishlist</h1>

<div class="row row-cols-1 row-cols-md-4">
  <% @wishlists.each do |wishlist| %>
    <% item = Item.find(wishlist.item_id) %>
    <div class="col mb-4">
      <div class="card h-100 border-primary">
        <div class="card-header"><img class="card-img-top" height="200px" style="object-fit: contain" src="<%= item.image %>"></div>
        <div class="card-body">
          <h5 class="card-title"><strong><%= item.name %></strong></h5>
          <p class="card-text" style="height: 150px; overflow: auto"><%= item.description %></p>
        </div>
        <div class="card-footer" style="text-align: center">
          <h6 class="card-text">
            $<%= number_with_precision(item.cost, :precision => 2, :delimiter => ',') %>
          </h6>
          <a href="<%= item_path(item) %>" class="btn btn-primary stretched-link">Details</a>
          <% if user_signed_in? %>
            <a href="<%= button_path %>" class="btn btn-primary">Buy now</a>
          <% else %>
            <a href="<%= new_user_registration_path %>" class="btn btn-primary">Register</a>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
