<%= form_with(model: feedback, local: true) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if !current_user.nil? %>
    <div class="field">
      <%= form.label :user_id %>:
      <%= current_user.id %>
      <%= form.hidden_field :user_id, value: current_user.id%>
    </div>

  <% else %>
    <div class="field">
      <%= form.label :visitor_email, "Email Address" %><br />
      <%= form.text_field :visitor_email %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :note, "Feedback" %><br />
    <%= form.text_area :note %>
  </div>
  
  <p>
    <div class="actions">
      <%= form.submit %>
    </div>
  </p>
<% end %>
