<p id="notice"><%= notice %></p>

<h1>Feedback</h1>
<% if !user_signed_in? or !current_user.admin? %>
  <body><strong>Please feel free to share your thoughts on our marketplace!</strong></body>
  <p></p>
  <%= link_to 'Give Feedback', new_feedback_path %>
  <p></p>

<% else %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Visitor Email</th>
        <th>Feedback</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%= feedback.user_id %></td>
          <td><%= feedback.visitor_email %></td>
          <td><%= feedback.note %></td>
          <td><%= link_to 'Show', feedback %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
