<p id="notice"><%= notice %></p>

<h1>Feedback</h1>
<body><strong>Please feel free to share your thoughts on our marketplace!</strong></body>
<br>
<%= link_to 'Give Feedback', new_feedback_path, :class => 'btn btn-primary' %>
<br>

<% if user_signed_in? and current_user.admin? %>
<table class="table">
  <thead class="thead-light" align="center">
    <tr>
      <th>Email</th>
      <th>Feedback</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td align="center">
          <%= feedback.email %>
        </td>
        <td align="center"><%= feedback.note %></td>
        <td><%= link_to 'Show', feedback, :class => 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>