<p id="notice"><%= notice %></p>
<h1>Cart</h1>
<% if CartItem.where(cart_id: @cart.id).size > 0 %>
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Cost</th>
      <th scope="col">Tax</th>
      <th scope="col">
        Discount
        <% if current_user.age(current_user.dob) >= 65 %>
          <br>
          <span class="badge badge-success"><small>Senior Discount</small></span>
        <% end %>
      </th>
      <th scope="col">Total Price</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% total_price = 0 %>
    <% CartItem.where(cart_id: @cart.id).each do |cartitem| %>
      <% item = Item.find(cartitem.item_id) %>
      <tr>
        <td><img height="50px" style="object-fit: contain" src="<%= item.image %>"></td>
        <td align="center"><strong><%= item.name %></strong></td>
        <td align="center"><%= cartitem.quantity %></td>
        <td align="center">$<%= cost = item.cost * cartitem.quantity %></td>
        <td align="center">$<%= tax = ((item.cost * cartitem.quantity) * (item.tax_slab.to_f)/100).round(2) %></td>
        <td align="center">$<%= discount = current_user.age(current_user.dob) >= 65 ? ((cost + tax) * 0.1).round(2) : 0.00 %></td>
        <td align="center">$<% total_price += cost + tax - discount %><%= cost + tax - discount %></td>
        <td align="center">
          <%= link_to 'Edit', edit_cart_item_path(cartitem.id), :class => 'btn btn-primary' %>
          <%= link_to 'Remove', cartitem, method: :delete, data: {confirm: 'Remove from Cart?'}, :class => 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h2>Total Price: <%= total_price %></h2>
  <%= link_to 'Checkout', checkout_path, :class => 'btn btn-primary' %>
  <%= link_to 'Clear Cart', clear_carts_url, :class => 'btn btn-primary' %>
<% else %>
  <br><h3>No items in cart. Please feel free to have a look at our inventory!</h3><br>
<% end %>
<%= link_to 'Back To Shopping', items_path, :class => 'btn btn-primary' %>
