<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= params[:user].name %>,</p>
    <p>
      Here is a summary of your purchase:
    </p>
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Cost</th>
        <th scope="col">Tax</th>
        <th scope="col">
          Discount
          <% if params[:user].age(params[:user].dob) >= 65 %>
            <br>
            <span class="badge badge-success"><small>Senior Discount</small></span>
          <% end %>
        </th>
        <th scope="col">Subtotal</th>
      </tr>
      </thead>
      <tbody>
      <% total_price = 0 %>
      <% CartItem.where(cart_id: params[:cart].id).each do |cartitem| %>
        <% item = Item.find(cartitem.item_id) %>
        <tr>
          <td><img height="50px" style="object-fit: contain" src="<%= item.image %>"></td>
          <td align="center"><strong><%= item.name %></strong></td>
          <td align="center"><%= cartitem.quantity %></td>
          <td align="center">$<%= cost = item.cost * cartitem.quantity %></td>
          <td align="center">$<%= tax = ((item.cost * cartitem.quantity) * (item.tax_slab.to_f)/100).round(2) %></td>
          <td align="center">$<%= discount = params[:user].age(params[:user].dob) >= 65 ? ((cost + tax) * 0.1).round(2) : 0.00 %></td>
          <td align="center">$<% total_price += cost + tax - discount %><%= cost + tax - discount %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <h2>Total Price: $<%= total_price %></h2>
  </body>
</html>