<p id="notice"><%= notice %></p>

<h1>Items</h1>
<nav class="navbar navbar-expand-lg">
  <% if user_signed_in? and current_user.admin? %>
    <%= link_to "New Item", new_item_path, :class => 'btn btn-secondary' %>
  <% end %>
  <%= link_to "Cost", items_path(order_by: 'cost DESC'), :class => 'nav-link btn btn-primary ml-auto' %>
  <%= link_to "Popularity", items_path(order_by: 'views_count DESC'), :class => 'nav-link btn btn-primary'  %>
</nav>
<div class="row row-cols-1 row-cols-md-4">
  <% @items.each do |item| %>
    <div class="col mb-4">
      <div class="card h-100 border-primary">
        <div class="card-header"><img class="card-img-top" height="200px" style="object-fit: contain" src="<%= item.image %>"></div>
        <div class="card-body">
          <h5 class="card-title"><strong><%= item.name %></strong></h5>
          <p class="card-text" style="height: 150px; overflow: auto"><%= item.description %></p>
        </div>
        <div class="card-footer" style="text-align: center">
          <h6 class="card-text">
            $<%= number_with_precision(item.cost, :precision => 2, :delimiter => ',') %>
          </h6>
          <a href="<%= item_path(item) %>" class="btn btn-primary">Details</a>
          <% if user_signed_in? %>
            <a href="<%= button_path %>" class="btn btn-primary">Buy now</a>
          <% else %>
            <a href="#" class="btn btn-primary">Register</a>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
