<p id="notice"><%= notice %></p>

<p>
  <strong>Unique ID:</strong>
  <%= @item.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<p>
  <strong>Special item:</strong>
  <%= @item.special_item %>
</p>

<p>
  <strong>Age restricted:</strong>
  <%= @item.age_restricted %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Tax slab:</strong>
  <%= @item.tax_slab %>
</p>

<p>
  <strong>Views count:</strong>
  <%= @item.views_count %>
</p>

<% if user_signed_in? %>
  <%= form_tag(carts_path(cart: {user_id: current_user.id, item_id: @item.id, tax_slab: @item.tax_slab, price: @item.cost}), method: :post) do %>
  <%= label_tag(:quantity, "Quantity: ") %>
  <%= number_field_tag(:quantity, 1, min: 1, max: @item.quantity) %>
  <%= submit_tag("Add to Cart", class: 'btn btn-primary') %>
  <% end %>

  <a href="<%= button_path %>" class="btn btn-primary">Buy Now</a>
<% else %>
  <a href="<%= new_user_registration_path %>" class="btn btn-primary">Register</a>
<% end %>

<br>

<% if user_signed_in? and current_user.admin? %>
  <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
