<p id="notice"><%= notice %></p>

<p>
  <strong>Unique:</strong>
  <%= @item.unique_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<p>
  <strong>Special item:</strong>
  <%= @item.special_item %>
</p>

<p>
  <strong>Age restricted:</strong>
  <%= @item.age_restricted %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Tax slab:</strong>
  <%= @item.tax_slab %>
</p>

<p>
  <strong>Views count:</strong>
  <%= @item.views_count %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
