<%= form_with(model: credit_card, local: true) do |form| %>
  <% if credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
        <% credit_card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :card_name %>
    <%= form.text_field :card_name %>
  </div>

  <div class="field">
    <%= form.label :card_num %>
    <%= form.number_field :card_num %>
  </div>

  <div class="field">
    <%= form.label :card_experation %>
    <%= form.date_select :card_experation %>
  </div>

  <div class="field">
    <%= form.label :card_cvv %>
    <%= form.number_field :card_cvv %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
