<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi <%= params[:user].name %>,</p>
<p>
  <% purchase_history = params[:purchase_history] %>
  <% item = Item.find(purchase_history.item_id) %>
  <% taxed_cost = purchase_history.quantity * item.cost * (1 + (item.tax_slab.to_f)/100) %>
  <% discount = params[:user].age(params[:user].dob) >= 65 ? taxed_cost * 0.1 : 0 %>
  <% if purchase_history.status == 'Purchased' %>
  An administrator has approved your purchase of <%= purchase_history.quantity %> <%= item.name %>s! You have been
     charged <%= number_to_currency(taxed_cost - discount) %> for the purchase. Thank you!
  <% else %>
  An administrator has rejected your request to purchase <%= purchase_history.quantity %> <%= item.name %>s. Thank you
     for your interest.
  <% end %>
</p>
</body>
</html>